{
  "IsEncrypted": false,
  "Values": {
    "SUBSCRIPTION_ID": "<Azure subscription id>",
    "RESOURCE_GROUP_NAME": "<Azure resource group name>",
    "DEFAULT_LOCATION": "<Azure default location>",
    "TENANT_ID": "<Azure tenant id>",
    "CLIENT_ID": "<Azure client id>",
    "CLIENT_SECRET": "<Azure client secret>"
  }
}
