{
  "ConnectionStrings": {
    "CHARGE_DB_CONNECTION_STRING": "CHARGE_DB_CONNECTION_STRING"
  },
  "FRONTEND_OPEN_ID_URL": "FRONTEND_OPEN_ID_URL",
  "FRONTEND_SERVICE_APP_ID": "FRONTEND_SERVICE_APP_ID",
  "LOCAL_TIMEZONENAME": "Europe/Copenhagen",

  "DOMAIN_EVENTS_TOPIC_NAME": "DOMAIN_EVENTS_TOPIC_NAME",
  "INTEGRATIONEVENT_SENDER_CONNECTION_STRING": "INTEGRATIONEVENT_SENDER_CONNECTION_STRING",
  "METERING_POINT_ADMINISTRATOR_GLN": "METERING_POINT_ADMINISTRATOR_GLN"
}