{
  "IsEncrypted": false,
  "AzureWebJobsStorage": "UseDevelopmentStorage=true",
  "FUNCTIONS_WORKER_RUNTIME": "dotnet",
  "APPINSIGHTS_INSTRUMENTATIONKEY": "",
  "BLOB_FILES_RAWMESSAGES_CONTAINER_NAME": "rawmessages",
  "CONNECTION_STRING_SHARED_BLOB": "UseDevelopmentStorage=true",
  "MESSAGERECEIVER_URL": "http://localhost:7071/api/MessageReceiver"
}