{
   "IsEncrypted": false,
   "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureWebJobsDashboard": "UseDevelopmentStorage=true",
    "COMMAND_RECEIVED_LISTENER_CONNECTION_STRING": "<Connection string for command received listener>",
    "COMMAND_ACCEPTED_LISTENER_CONNECTION_STRING": "<Connection string for command accepted listener>",
    "COMMAND_REJECTED_LISTENER_CONNECTION_STRING": "<Connection string for command rejected listener>",
    "COMMAND_RECEIVED_TOPIC_NAME": "sbt-command-received",
    "COMMAND_ACCEPTED_TOPIC_NAME": "sbt-command-accepted",
    "COMMAND_REJECTED_TOPIC_NAME": "sbt-command-rejected",
    "COMMAND_RECEIVED_INTEGRATION_TEST_SUBSCRIPTION_NAME": "sbs-command-received-it",
    "COMMAND_ACCEPTED_INTEGRATION_TEST_SUBSCRIPTION_NAME": "sbs-command-accepted-it",
    "COMMAND_REJECTED_INTEGRATION_TEST_SUBSCRIPTION_NAME": "sbs-command-rejected-it",
    "CHARGE_DB_CONNECTION_STRING": "<charge db connection string>",
    "LOCAL_TIMEZONENAME": "Your time zone ID, e.g.Europe/Copenhagen, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for others"
    }
}