{
   "IsEncrypted": false,
   "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureWebJobsDashboard": "UseDevelopmentStorage=true",
    "COMMAND_RECEIVED_SENDER_CONNECTION_STRING": "<Connection string for command received sender>",
    "COMMAND_RECEIVED_TOPIC_NAME": "sbt-command-received"
    }
}